h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5 {
	clear: both;
	text-align: center;
	margin-bottom: #{$block-height/2};

	@media #{$medium-and-up} {
		margin-bottom: #{$block-height-medium-and-up/2};
	}
}

h1, .h1, h2, .h2, h3, .h3 {
	font-family: unna, sans-serif;
	font-weight: bold;
}

h1, .h1 {
	line-height: 60px;
	font-size: 48px;

	@media #{$medium-and-up} {
		line-height: 80px;
		font-size: 80px;
	}
}

h2, .h2 {
	line-height: 50px;
	font-size: 40px;

	@media #{$medium-and-up} {
		line-height: 72px;
		font-size: 64px;
	}
}

h3, .h3 {
	line-height: 40px;
	font-size: 32px;
	margin: 20px 0;

	@media #{$medium-and-up} {
		line-height: 64px;
		font-size: 56px;
	}
}

h4, .h5 {
	font-family: unna, sans-serif;
	font-weight: normal;
	line-height: 32px;
	font-size: 24px;
	margin: 16px 0;

	@media #{$medium-and-up} {
		line-height: 48px;
		font-size: 40px;
	}
}

h5, .h5 {
	font-family: lato, sans-serif;
	font-weight: 300;
	line-height: 20px;
	font-size: 16px;

	@media #{$medium-and-up} {
		line-height: 32px;
		font-size: 24px;
	}
}
