.klarity-block-columns-override {
	.wp-block-column:last-child {
		.wp-block-klarity-klarity-section-block{
			padding: 10px;
		}
	}
	@media screen and (max-width: 781px) {
		.wp-block-column {
			flex-basis: 100%;
			margin: 0px;
		}
	}
  @media screen and (min-width: 782px) {
		.wp-block-column:first-child{
				flex-basis: 66%;
				margin-right: 8px;
		}
		.wp-block-column:last-child {
			*:first-child {
				margin-top: 0px;
			}
			flex-basis: 34%;
			margin-left: 8px;
		}
	}
	// Action network overrides
	.can_embed #logo_wrap, .can_embed div#can_main_col{
		display: none;
	}
	.can_embed #can_thank_you h1 {
		font-size: 18px
	}
}
