// These first colors are overridden by theme customizer, see inc/scss_customizer.php
$primary-color: #F8000B !default;
$secondary-color: #32323C !default;
$tertiary-color: #EFF1F3 !default;
$primary-color-text: #FFFFFF !default;
$secondary-color-text: #FFFFFF !default;
$tertiary-color-text: #000000 !default;
$color__background-body: #FFFCFC !default;

$color__background-nav: $primary-color;
$color__background-footer: $primary-color;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-menu: white;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: $primary-color;
$color__link-visited: black;
$color__link-hover: black;
$color__text-main: #404040;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;
