$breadcrumbs-height: 56px;

.breadcrumbs {
  display: none; // Hide by default, show after page load
  position: relative;
  background: #{$color__background-body};
  height: #{$breadcrumbs-height};
  text-transform: capitalize;
  z-index: 2;

  @media #{$small-and-down} {
    position: fixed;
    width: 100%;
    padding-left: 5%;
    z-index: 999;
  }

  &.show-after-page-load {
    display: flex;
    align-items: center;
    margin-top: 5px;

    ~ .entry-content {
      @media #{$small-and-down} {
        padding-top: #{$breadcrumbs-height} !important;
      }
    }
  }
}
