.breadcrumbs {
  padding-top: 30px;
  text-transform: capitalize;
  z-index: 2;
  margin-bottom: -40px;
  position: relative;

  @media only screen and (max-width : $small-screen-up) {
    position: fixed;
    top: 45px;
    width: 100%;
    padding-left: 20px;
    padding-bottom: 10px;
    background-color: $color__background-body;
    
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  }
}