:not(.menu) > :not(li) > a {
  color: $color__link !important;

  &:visited {
    color: $color__link-visited;
  }
  &:hover,
  &:focus,
  &:active {
    color: $color__link-hover;
  }
  &:focus {
    outline: thin dotted;
  }
  &:hover,
  &:active {
    outline: 0;
  }
}
