.navbar-fixed, nav {
	&.posts-navigation {
		background: transparent;
		box-shadow: none;

		h2 {
			display: none;
		}
	}

	a {
		font-family: lato, sans-serif;
		font-weight: bold;
		font-size: 14px;
		color: $color__text-menu;
		letter-spacing: 1.1px;
		text-transform: uppercase;
	}
}

#nav-mobile {
	padding-top: 10px;
}

.sidenav-close {
	width: 40px;
	margin-right: 35px;
}

.sub-menu li {
	background-color: $primary-color;
	float: none;
}

.custom-logo-link {
    display: inline-block;
    height: 100%;

	> img {
		vertical-align: middle;
		width: 104px;
		height: 44px;
	}
}
