.comments-area {
  .comments-title {
    text-align: center;
  }

  .comment-list {
    padding: 0;

    li {
      font-family: lato, sans-serif;
      padding: 15px 20px;
      list-style: none;

      .comment-author,
      .comment-time,
      p {
        font-weight: 300;
        line-height: 24px;
        font-size: 14px;

        @media #{$medium-and-up} {
          line-height: 16px;
          font-size: 16px;
        }
      }

      .comment-intro {
        display: flex;
        justify-content: space-between;
      }
    }

    .children li {
      padding-right: 0;
    }
  }

  .comment-respond {
    .comment-reply-title {
      display: none;
    }
  }
}
